# سیستم فایل macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# پوشه‌های وابستگی
node_modules/
bower_components/
vendor/

# لاگ‌ها
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# فایل‌های موقت
*.tmp
*.bak
*.swp
*~

# محیط‌های توسعه
.env
.env.local
.env.development
.env.test
.env.production

# ادیتورها/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# سیستم‌های ساخت
dist/
build/
*.exe
*.dll
*.so
*.o
*.a
*.lib
*.out
*.app
*.msi
*.pdb
